body {
	margin: 0;
    padding: 0;
    box
}

.flex-container {
	position: absolute;
	height: 100%;
	width: 100%;
	display: flex;
}

.flex-slide {
	flex: .5;
	cursor: pointer;
	transition: all 500ms ease;
}

.flex-slide:hover {
	flex-grow: 3;
}

.seattle {
    background-color: grey;
}

.tacoma {
    background-color: lightgrey;
}

.seattleButton {
    height: 300px;
    width: 90%;
    background-color: rgb(223, 223, 223);
    border: 1px solid white;
    border-radius: 10px;
    margin-left:auto;
    margin-right: auto;
    margin-top: 300px;
}

.seattleHidden {
    display:none;
}

.tacomaButton {
    height: 300px;
    width: 90%;
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
    margin-left:auto;
    margin-right: auto;
    margin-top: 300px;
    cursor: pointer;
}

.tacomaHidden {
    display:none;
}

h1 {
    background-color:grey;
    margin:0;
    padding:0;
}

h2 {
    background-color:lightgray;
    margin:0;
    padding:0; 
    height: 450px;
}

h3 {
    background-color: rgb(238, 238, 238);
    margin:0;
    padding:0; 
    height: 300px;
}

li {
    display: inline-block;
}
